
@import '../other/colors.scss';

.page-container {
  max-width:1024px !important;
  margin:0 auto;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 65px);
  background: $black;
  transition:0.3s ease-in-out;
}

.content-wrapper {
  flex: 1 1 auto;
  position: relative;
  overflow-y: auto;
  background: $black;
}

header {
  height: 65px;
  min-height: 65px;
  transition: min-height 0.3s ease-in-out;
  overflow: hidden;
  background: $catalyst-blue;
  border-bottom: 1px solid $grey;
  color: $silver;
  display: flex;
  justify-content: flex-end;
}

.side-menu-wrapper {
  height: 161px;
  width:100%;
  max-width:1023px;
  margin-left: 100vw;
  transition: margin-left 0.3s ease-in-out;
  overflow: hidden;
  background: $black;
  border-bottom:1px solid $grey;
  color: $silver;
  display: flex;
  position: absolute;
  margin-right: 0;
  top: 66px;
  justify-content: center;
  z-index: 9999;
}

.slideIn {
  display:flex !important;
  margin-left:0vw;
  width:100%;
  background:$catalyst-blue;
  transition:margin-left 0.3s ease-in-out;
  padding-left:1px;
  margin-top:-1px;
}

.slideOut {
  margin-left:100vw;
  width:100%;
  background:$catalyst-blue;
  transition:margin-left 0.3s ease-in-out;
}

footer {
  flex: 0 0 auto;
  z-index: 1;
  max-width:1024px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid $grey;
  background: $catalyst-blue;
  position:sticky;
  bottom:0;
}

.sort-list {
  display:flex;
  width: calc(100% - 45px);
  font-size: 13px;
  padding: 10px 0px 0px 25px;
  background: $black;
  color: $white;
  cursor: pointer;
}

.close {
  display: inline-flex;
  border: 2px solid $grey;
  border-radius: 12px;
  width: 20px;
  padding-bottom: 1px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.close:hover {
  background: $grey;
  color: $white;
}

button {
  display: inline-block;
  height: 40px;
  width: 70px;
  border-radius: 4px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid $grey;
  background: $black;
  color: $grey;
  text-align: center;
  cursor: pointer;
}

button:hover {
  color: $white;
  background: $catalyst-blue;
}

input[type="text"], input[type="password"], input[type="email"], 
input[type="text"]::placeholder, input[type="password"]::placeholder, input[type="email"]::placeholder,
select {
  width: 100%;
  color: $black;
  background: $silver;
  border-radius: 4px;
  padding: 10px 0px 10px 0px;
  text-indent: 10px;
}

.file-input {
  color: $silver;
  background: $black;
  border-radius: 4px;
  padding: 10px 0 10px 0;
  display: block;
  width: 85px;
  cursor: pointer;
}

.file-input:hover {
  color: $white;
  background: $catalyst-blue;
}

.black-icon {
  color:$silver;
}

/* modal css */

.modal-container {
  max-width:400px;
  top: 30%;
  left:25%;
  right:25%;
  margin:0 auto;
  background: $black;
  color: $silver;
  border:1px solid $silver;
  border-radius: 4px;
  padding: 1.5em;
  position: fixed;
  z-index: 1;
}

/* user-module */
.user-wrapper {
  width: 100%;
  overflow: auto;
  color: $silver;
  background: $black;
}

.user-container {
  border-bottom: 1px solid $grey;
}

.user-avatar {
  cursor:pointer;
  background-size: cover;
  width: 3em;
  height: 3em;
  border: 0.2em solid $grey;
  border-radius: 50%;
  background: $white;
  margin-left: 1em;
  float: left;
}

.user-nodata {
  padding-left: 20px;
  background: $black;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* arrow-icons */
.arrow-icon {
  display: inline-block;
  width: 2em;  
  height: 2em;  
  border: 0.1em solid $grey;  
  border-radius: 50%;  
  background: $black;  
  margin-left: 0.75em;  
  cursor: pointer;
}

.arrow-icon:after {
  content: "";
  display: inline-block;
  margin-top: 0.6em;
  margin-left: 0.70em;
  width: 0.5em;
  height: 0.5em;
  border-top: 0.1em solid $white;
  border-right: 0.1em solid $white;
  -moz-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

.arrow-spin-up {
  transform: rotate(0deg) !important;
  transition: 400ms ease-in-out;
}

.arrow-spin-down {
  transform: rotate(180deg) !important;
  transition: 400ms ease-in-out;
}

.arrow-spin-down:after {
  margin-left:0.7em;
}

.arrow-spin-left {
  transform: rotate(90deg) !important;
  transition: 400ms ease-in-out;
}

.arrow-spin-right {
  transform: rotate(270deg) !important;
  transition: 400ms ease-in-out;
}

.arrow-sort {
  display: inline-block;
  position: relative;
  width: 0;
  border-bottom: solid 10px $white;
  border-right: solid 6px transparent;
  border-left: solid 6px transparent;
  transform: rotate(180deg);
}
.arrow-sort .empty {
  position: absolute;
  top: 9px;
  left: -21px;
  width: 0;
  border-bottom: solid 36px $white;
  border-right: solid 21px transparent;
  border-left: solid 21px transparent;
}

input.user-name, input.user-title {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  background: $black;
  border: none;
  width: fit-content;
  color: $silver;
  width:150px;
}

input.user-title {
  display:block;
}

.fas {
  color:$silver;
  margin-left:20px;
  display:none;
}
