
.search-wrapper {
    width:100%;
    height:auto;
}

.search-container {
    padding:0px 15px 0px 15px;
}

.search-container > input[type=text] {
    text-indent: 35px;
}

.search-icon-position {    
    float: left;
    margin-left: 10px;
    margin-top: -25px;
    position: relative;
    z-index: 2;
}
    
  
  
