.smile-guy-1 {
    background: url(../../img/smile-guy.jpg) bottom center
      no-repeat;
    background-size: cover;
  }
  .suit-guy-1 {
    background: url(../../img/suit-1.jpg)
      bottom center no-repeat;
    background-size: cover;
  }
  .red-head {
    background: url(../../img/red-head.jpg)
      bottom center no-repeat;
    background-size: cover;
  }
  .lady-1 {
    background: url(../../img/lady-1.jpg)
      bottom center no-repeat;
    background-size: cover;
  }
  .lady-2 {
    background: url(../../img/lady-2.jpg)
      bottom center no-repeat;
    background-size: cover;
  }
  .hip-guy-1 {
    background: url(../../img/hippie-1.jpg) bottom center
      no-repeat;
    background-size: cover;
  }
  .shirt-guy-1 {
    background: url(../../img/shirt-guy.jpg) bottom center
      no-repeat;
    background-size: cover;
  }
  .singlet-guy-1 {
    background: url(../../img/wife-beater.jpg) bottom center
      no-repeat;
    background-size: cover;
  }
  .suit-guy-2 {
    background: url(../../img/suit-2.png) bottom center
      no-repeat;
    background-size: cover;
  }