//colors

$black: #000;
$white: #fff;
$green: #008000;
$dark-green: #006400;
$dark-red: #8B0000;
$dark-grey: #404040;
$hot-pink: #ea4dd3;
$silver: #C0C0C0;
$grey: #808080;
$light-grey: #D3D3D3;
$border-grey: #333;
$catalyst-blue: #00173d;




