//global styles

@import '../other/colors.scss';

html {
  height: 100%;
}

nav {
  width: 100%;
  padding: 5px 10px 0px 0px;
}

body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  background: $white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: $dark-grey;
  background: $black;
}

section {
  width: 100%;
  background: $light-grey;
}

.header-container {
  max-width:1024px !important;
  margin:0 auto;
  display: flex;
  flex-direction: column;
  background: $light-grey;
}

.login-container {
  height:100%;
  width:100%;
  background:$black;
  transition: 0.3s ease-in-out;
}
  
.logo {
  display:flex;
  align-items: center;
  padding-left: 15px;
  cursor: pointer;
}
  
.catalyst {
  display:none;
}
  
.cat-inner {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  width:200px;
}

.slideDown {
  min-height: 205px;
  transition: min-height 0.3s ease-in-out;
}

.flex {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}
.flex-center {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}
.flex-end {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 10px;
}
.flex-inline {
  color:darkred;
  display:inline-flex;
  margin-left:20px; 
}

.display-inline {
  display:inline-block;
}

.padding-left-10 {
  padding-left:10px;
}

.current-user {
  display: inline-flex;
  width: calc(100% - 110px);
  justify-content: center;
  cursor:initial;
  font-size:13px;
}

li.current-user {
  padding-top:10px;
}

.transition {
  transition: color 0.2s ease-out, background 0.2s ease-in;
}

select {
  text-indent: 3px;
}

input[type="radio"] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
  -ms-appearance: checkbox;
}

input[type="file"] {
  display:none;
}

#noData {
  display: flex;
  height: 100%;
}

.defaultFont {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 13.3px;
}

.offline {
  background: lightgrey;
}

.online {
  background: green;
}

.afk {
  background: #ea4dd3;
}

.green {
  display:flex; 
  justify-content: center; 
  color:darkgreen; 
  font-weight: bold;
}

.silver {
  color:silver;
}

.black-icon {
  display:none;
  justify-content: center;
  color:#00173d;
  font-weight:bold;
}

.red {
  display:flex; 
  justify-content: center; 
  color:darkred; 
  font-weight: bold;
}

.border {
  border: 1px solid grey;
}

.margin {
  margin-top: 5px;
  margin-bottom: 5px;
}

.margin-right-zero {
  margin-right:0 !important;
}

