@media screen and (max-width: 500px) {
    
    .modal-container {
        left:10%;
        right:10%;
    }
}

@media only screen and (max-width: 399px) {
    .user-img,
    .user-info,
    .user-status,
    .user-button,
    .user-avatar {
      float: none;
    }

    .user-container {
      display:block;
    }
  
    .user-info {
      display: block;
      width: 90%;
      padding-left: 0;
      margin: auto;
      padding-bottom: 10px;
      text-align: center;
    }

    .user-name {
        padding-top:10px;
        text-align:center;
        margin:0 auto;
    }
    .user-title {
        padding-bottom:10px;
        text-align:center;
        margin:0 auto;
    }
  
    .user-button {
      display: block;
      width: 70%;
      padding-left: 0;
      margin: auto;
      text-align: center;
    }
  
    .user-img-container {
      height: auto;
      width: 80px;
      margin-left: calc(50% - 15px)
    }
  
    .user-avatar {
      display: inline-block;
      margin-left: calc(60% - 70px);
      width: 4em;
      height: 4em;
    }

    .file-input {
      margin:0;
    }
    .current-user {
      width:auto;
    }

    .hideshow {
      display:none;
    }
      
    .cat-inner {
      width: 120px;
      text-align: center;
    }

    #welcome-modal, #welcome-search, #welcome-clickuser, #welcome-block, #welcome-final {
      border:1px solid grey;
    }

    .modal-triangle-left-container, .modal-triangle-right-container, .modal-triangle-bottom-container {
      display:none;
    }
  }