@import './colors.scss';

.user-container {
  display:inline-flex;
  width: 100%;
  min-height: 50px;
  border-bottom: 1px solid grey;
  padding: 25px 0px 25px 0px;
}

.user-info {
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  width: calc(100% - 20px);
  align-items: center;
}

.user-name {
  cursor: pointer;
  display:inline-block;
  font-size: 18px;
  padding-bottom: 5px;
}

.user-title {
  cursor: pointer;
  font-size: 14px;
}

.user-avatar {
    cursor:pointer;
    background-size: cover;
    width: 3em;
    height: 3em;
    border: 0.2em solid grey;
    border-radius: 50%;
    background: white;
    margin-left: 1em;
    float: left;
}

.user-button {
    display: inline-flex;
    justify-content: space-evenly;
    margin-right: 20px;
}
  
.user-button-no-margin {
    margin-right:0;
}

.user-status {
    display: inline-block;
    width: 1em;
    height: 1em;
    border: 0.1em solid grey;
    border-radius: 50%;
    margin-top: 35px;
    margin-left: -20px;
}

.black-icon {
  display:none;
  justify-content: center;
  color:$catalyst-blue;
  font-weight:bold;
}