/* base css */

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  background: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #404040;
  background: black;
}

.header-container {
  max-width:1024px !important;
  margin:0 auto;
  display: flex;
  flex-direction: column;
  background: lightgrey;
}

.page-container {
  max-width:1024px !important;
  margin:0 auto;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 65px);
  background: black;
  transition: 0.3s ease-in-out;
}

section {
  width: 100%;
  background: lightgrey;
}

.content-wrapper {
  flex: 1 1 auto;
  position: relative;
  overflow-y: auto;
  background: black;
}

header {
  height: 65px;
  min-height: 65px;
  transition: min-height 0.3s ease-in-out;
  overflow: hidden;
  background: #00173d;
  border-bottom: 1px solid grey;
  color: silver;
  display: flex;
  justify-content: flex-end;
}

.side-menu-wrapper {
  display:none;
  height: 100vh;
  max-width:1024px;
  margin-left: 100vw;
  transition: margin-left 0.3s ease-in-out;
  overflow: hidden;
  background: black;
  border-left: 1px solid grey;
  color: silver;
  display: flex;
  position: absolute;
  margin-right: 0;
  top: 66px;
  justify-content: center;
  z-index: 9999;
}

.slideDown {
  min-height: 185px;
  transition: min-height 0.3s ease-in-out;
}

.slideIn {
  display:flex !important;
  margin-left:0vw;
  width:100%;
  transition:margin 0.3s ease-in-out;
}

.slideOut {
  display:flex !important;
  margin-left:100vw;
  width:100%;
  transition:margin 0.3s ease-in-out;
}

footer {
  flex: 0 0 auto;
  z-index: 1;
  max-width:1024px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid grey;
  background: #00173d;
  position:sticky;
  bottom:0;
}

nav {
  width: 100%;
  padding: 5px 10px 0px 0px;
}

.logo {
  display:flex;
  align-items: center;
  padding-left: 15px;
  cursor: pointer;
}

.catalyst {
  display:none;
}

.cat-inner {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  width:300px;
}

.nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav2 {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-right: 30px;
}

.nav-side-fix {
  padding-inline-start:0;
  padding-top:20px;
}

.nav-wrapper {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
}

nav ul, .nav2 ul {
  margin-top: 0px;
  list-style-type: none;
}

nav li, .nav2 li {
  padding: 3px 0px 3px 0px;
}

.flex {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}

.sort-list {
  font-size: 13px;
  padding: 10px 0px 0px 25px;
  background: black;
  color: white;
  cursor: pointer;
  width: 60px;
}

.close {
  display: inline-flex;
  border: 2px solid grey;
  border-radius: 12px;
  width: 20px;
  padding-bottom: 1px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.close:hover {
  background: grey;
  color: white;
}

button {
  display: inline-block;
  height: 40px;
  width: 70px;
  border-radius: 4px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid grey;
  background: black;
  color: grey;
  text-align: center;
  cursor: pointer;
}

button:hover {
  color: white;
  background: #00173d;
}

.transition {
  transition: color 0.2s ease-out, background 0.2s ease-in;
}

input[type="text"],
input[type="text"]::placeholder,
select {
  width: 100%;
  color: black;
  background: silver;
  border-radius: 4px;
  padding: 10px 0px 10px 0px;
  text-indent: 10px;
}

select {
  text-indent: 3px;
}

input[type="radio"] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
  -ms-appearance: checkbox;
}

#noData {
  display: flex;
  height: 100%;
}

.defaultFont {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 13.3px;
}

.offline {
  background: lightgrey;
}

.online {
  background: green;
}

.afk {
  background: #ea4dd3;
}

.border {
  border: 1px solid grey;
}

.margin {
  margin-top: 5px;
  margin-bottom: 5px;
}

/* modal css */

.modal-container {
  max-width:400px;
  top: 25%;
  left:25%;
  right:25%;
  margin:0 auto;
  background: black;
  color: silver;
  border:1px solid silver;
  border-radius: 4px;
  padding: 1.5em;
  position: fixed;
  z-index: 1;
}

/* nav css */

#add-user {
  cursor: pointer;
}

#del-user {
  cursor: pointer;
}

#block-user {
  cursor: pointer;
}

#change-theme {
  cursor: pointer;
}

/* search module */

.search-wrapper {
  width: 100%;
  height: auto;
}

.search-container {
  padding: 0px 15px 0px 15px;
}

.search-container > input[type="text"],
.search-container > input[type="text"]::placeholder {
  text-indent: 30px;
}

.search-icon-position {
  float: left;
  margin-left: 10px;
  margin-top: -25px;
  position: relative;
  z-index: 2;
}

/* user-module */

.user-wrapper {
  width: 100%;
  overflow: auto;
  color: silver;
  background: black;
}

.user-container {
  width: 100%;
  min-height: 50px;
  border-bottom: 1px solid grey;
  padding: 25px 0px 25px 0px;
}

.user-avatar {
  background-size: cover;
  width: 3em;
  height: 3em;
  border: 0.2em solid grey;
  border-radius: 50%;
  background: white;
  margin-left: 1em;
  float: left;
}

.user-info {
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
}

.user-name {
  font-size: 18px;
  padding-bottom: 5px;
}

.user-title {
  font-size: 14px;
}

.user-nodata {
  padding-left: 20px;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-status {
  display: inline-block;
  width: 1em;
  height: 1em;
  border: 0.1em solid grey;
  border-radius: 50%;
  margin-top: 35px;
  margin-left: -20px;
  float: left;
}

.user-button {
  display: inline-flex;
  justify-content: space-evenly;
  margin-right: 20px;
}

.user-pic-1 {
  background: url(../../img/lawyer-avatar-flat-icon-01-.jpg) bottom center
    no-repeat;
  background-size: cover;
}

.user-pic-2 {
  background: url(../../img/flat-business-man-user-profile-avatar-icon-vector-4333097.jpg)
    bottom center no-repeat;
  background-size: cover;
}
.user-pic-3 {
  background: url(../../img/user-sign-icon-person-symbol-human-avatar-vector-12693201.jpg)
    bottom center no-repeat;
  background-size: cover;
}
.user-pic-4 {
  background: url(../../img/boy-2.jpg) bottom center
    no-repeat;
  background-size: cover;
}
.user-pic-5 {
  background: url(../../img/suit-1.png) bottom center
    no-repeat;
  background-size: cover;
}

@media only screen and (max-width: 340px) {
  .user-img,
  .user-info,
  .user-status,
  .user-button,
  .user-avatar {
    float: none;
  }

  .user-info {
    display: block;
    width: 90%;
    padding-left: 0;
    margin: auto;
    padding-bottom: 10px;
    text-align: center;
  }

  .user-button {
    display: block;
    width: 70%;
    padding-left: 0;
    margin: auto;
    text-align: center;
  }

  .user-img-container {
    width: 55vw;
    height: auto;
    margin: auto;
  }

  .user-avatar {
    display: inline-block;
    margin-left: 25%;
    width: 4em;
    height: 4em;
  }
}

/* arrow-icons */

.arrow-icon {
  display: inline-block;
  width: 2em;  
  height: 2em;  
  border: 0.1em solid gray;  
  border-radius: 50%;  
  background: black;  
  margin-left: 0.75em;  
  cursor: pointer;
}

.arrow-icon:after {
  content: "";
  display: inline-block;
  margin-top: 0.6em;
  margin-left: 0.70em;
  width: 0.5em;
  height: 0.5em;
  border-top: 0.1em solid white;
  border-right: 0.1em solid white;
  -moz-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

.arrow-spin-up {
  transform: rotate(0deg) !important;
  transition: 400ms ease-in-out;
}

.arrow-spin-down {
  transform: rotate(180deg) !important;
  transition: 400ms ease-in-out;
}

.arrow-spin-down:after {
  margin-left:0.7em;
}

.arrow-spin-left {
  transform: rotate(90deg) !important;
  transition: 400ms ease-in-out;
}

.arrow-spin-right {
  transform: rotate(270deg) !important;
  transition: 400ms ease-in-out;
}

.arrow-sort {
  display: inline-block;
  position: relative;
  width: 0;
  border-bottom: solid 10px white;
  border-right: solid 6px transparent;
  border-left: solid 6px transparent;
  transform: rotate(180deg);
}
.arrow-sort .empty {
  position: absolute;
  top: 9px;
  left: -21px;
  width: 0;
  border-bottom: solid 36px white;
  border-right: solid 21px transparent;
  border-left: solid 21px transparent;
}
