.user-wrapper {
  width: 100%;
  overflow: auto;
  color: black;
  background: lightgrey;
}

.user-container {
  width: 100%;
  min-height: 50px;
  border-bottom: 1px solid grey;
  padding: 25px 0px 25px 0px;
}

.user-avatar {
  background-size: cover;
  width: 3em;
  height: 3em;
  border: 0.2em solid grey;
  border-radius: 50%;
  background: white;
  margin-left: 1em;
  float: left;
}

.user-info {
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
}

.user-name {
  font-size: 18px;
  padding-bottom: 5px;
}

.user-title {
  font-size: 14px;
}

.user-nodata {
  padding-left: 20px;
  background: silver;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-status {
  display: inline-block;
  width: 1em;
  height: 1em;
  border: 0.1em solid grey;
  border-radius: 50%;
  margin-top: 35px;
  margin-left: -20px;
  float: left;
}

.user-button {
  display: inline-flex;
  justify-content: space-evenly;
  margin-right: 20px;
}

.user-pic-1 {
  background: url(img/lawyer-avatar-flat-icon-01-.jpg) bottom center no-repeat;
}

.user-pic-2 {
  background: url(img/flat-business-man-user-profile-avatar-icon-vector-4333097.jpg)
    bottom center no-repeat;
}
.user-pic-3 {
  background: url(img/user-sign-icon-person-symbol-human-avatar-vector-12693201.jpg)
    bottom center no-repeat;
}
.user-pic-4 {
  background: url(img/lawyer-avatar-flat-icon-01-.jpg) bottom center no-repeat;
}
.user-pic-5 {
  background: url(img/lawyer-avatar-flat-icon-01-.jpg) bottom center no-repeat;
}
