
.user-wrapper {    
    width:100%;
    overflow:auto;
}

.user-container {
    width: 100%;
    min-height:50px;
    border-bottom: 1px solid grey;
    padding: 25px 0px 25px 0px;
}

.user-avatar {
    background-size:cover;
    width: 3em;
    height: 3em;
    border: 0.2em solid white;
    border-radius: 50%;
    background: white;
    margin-left: 1em;
    float: left;
}

.user-pic-1 {
    background: url(img/lawyer-avatar-flat-icon-01-.jpg) bottom center no-repeat;
}

.user-pic-2 {
    background: url(img/flat-business-man-user-profile-avatar-icon-vector-4333097.jpg) bottom center no-repeat;
}
.user-pic-3 {
    background: url(img/user-sign-icon-person-symbol-human-avatar-vector-12693201.jpg) bottom center no-repeat;
}
.user-pic-4 {
    background: url(img/lawyer-avatar-flat-icon-01-.jpg) bottom center no-repeat;
}
.user-pic-5 {
    background: url(img/lawyer-avatar-flat-icon-01-.jpg) bottom center no-repeat;
}

.user-info {
    width: 150px;
    float:left;
    padding-left: 20px;
}

.user-name {
    font-size:18px;
    padding-bottom: 5px;
}

.user-title {
    font-size:14px;
}

.user-status {
    display: inline-block;
    width: 1em;
    height: 1em;
    border: 0.1em solid white;
    border-radius: 50%;
    margin-top: 35px;
    margin-left: -20px;
    float: left;
}

.user-button {
    float: right;
    margin-right: 20px;
}